@import './base.css';


:root {
  --main-color:goldenrod;
  --main-attenuated:hsl(from goldenrod h s l / .2);
}


* {
  transition:1s;
}


#mainMenu {
  float:left;
  display:flex;
  flex-direction:column;
  padding:10px 20px 0 5px;
  height:980px;
}
#mainMenu img {
  height:100px;
}
#mainMenu .menuIcon {
  margin-right:5px;
}
#mainMenu a{
  color:white;
  text-decoration: none;
  transition:.5s;
  padding:5px 15px;
  border-radius:10px;
  font-weight:bold;
}
#mainMenu a:hover {
  color:var(--main-color);
  background-color: var(--main-attenuated);
}

a.card, a:has(img.card) {
  cursor:pointer;
}
img.cardImg {
  background-image: url("img/back-character.webp");
}