@import './base.css';


:root {
  --main-color:goldenrod;
  --main-attenuated:hsl(from goldenrod h s l / .2);
}


* {
  transition:1s;
}


#mainMenu {
  float:left;
  display:flex;
  flex-direction:column;
  padding:10px 20px 0 5px;
  height:980px;
}
#mainMenu img {
  height:100px;
}
#mainMenu .menuIcon {
  margin-right:5px;
}
#mainMenu a{
  color:white;
  text-decoration: none;
  transition:.5s;
  padding:5px 15px;
  border-radius:10px;
  font-weight:bold;
}
#mainMenu a:hover {
  color:var(--main-color);
  background-color: var(--main-attenuated);
}

a.card, a:has(img.card) {
  cursor:pointer;
}
img.cardImg {
  background-image: url("img/back-character.webp");
}

.label {
  padding:2px 8px;
  border-radius:5px;
  margin: 0 4px;
}
.triggerLabel {
    color:black;
    background-color:#FDF120;
}
.mainLabel {
    color:white;
    background-color:#1271A6;
}
.warningLabel {
  color:white;
  background-color:#DE021A;
}
.counter {
    display: inline-block;
    height: 20px;
    width: 20px;
    aspect-ratio: 0.56;
    clip-path: polygon(41% 98%, 74% 67%, 47% 59%, 62% 34%, 87% 39%, 67% 9%, 23% 32%, 54% 32%, 31% 60%, 56% 74%);
    background: #FDF120;
    position: relative;
    top: 4px;
    margin-left: -8px;
}
.attributeLabel {
  color:white;
  background-color:#F17723;
  clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
  padding:2px 10px;
}
.oncePerTurnLabel {
  color:white;
  background-color:#CD345A;
  border-radius:25px;
}

.floatingText {
  display:block;
  position:relative;
  height:0;
}

.top {top:0;}
.bottom {bottom:0}
.left {float:left}
.right {float:right}